{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item">
                        	<a href="{% url 'dashboard:index' friend_pk=friend.pk %}" title="Voir les détails de {{ friend.user.username }}">{{ friend.user.username }}</a> 
                        	<a href="{% url 'dashboard:remove' friend_pk=friend.pk %}" title="Supprimer {{ friend.user.username }} de mes amis"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="float: right;"></span></a></li>
                    {% endfor %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-3 col-md-2"><a href="{% url 'dashboard:new_message' %}"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></a></div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ friend_requests|length }}</span></button></div>
        </div>

        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
	                  	{% for message in messagesList %}
	                    	{% if message.is_read %}
	                    		<tr class="success">
	                    	{% else %}
	                    		<tr class="danger" onclick="setModalMessage(this);">
	                    	{% endif %}
		                    	<td><span class="idMsg" style="display:none;">{{ message.id }}</span><span class="destMsg">{{ message.author.user  }}</span></td>
			                    <td>{{ message.created_on|date:'d-m-Y'}}</td>
			                    <td>
			                    	{% if message.is_read %}
			                    		Lu
			                    	{% else %}
			                    		Non lu
			                    	{% endif %}
			                    </td>
	                    	</tr>
	                    {% endfor %}
	                    
	                    
	                
	                
                    
                  </tbody>
              </table>

                <nav class="pull-right">
                  <ul class="pagination pagination-centered">
			            {% if liste_messages.has_previous %}
			                <li><a href="?page=1"><<</a></li>
			                <li><a href="?page={{ messagesList.previous_page_number }}"><</a></li>
			            {% endif %}
			
			            {% for i in messagesList.paginator.page_range %}
			                <li {% if messagesList.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
			            {% endfor %}
			
			            {% if liste_messages.has_next %}
			                <li><a href="?page={{ messagesList.next_page_number }}">></a></li>
			                <li><a href="?page={{ messagesList.paginator.num_pages }}">>></a></li>
			            {% endif %}
			        </ul>
                </nav>
                
                
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un ami</h4>
      </div>
      <form method='POST' action =".">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">Pseudo</th>
            </tr>
          </thead>
          {% for friend in add_friend_form.members.field.choices %}
            <tr>
              <td class="success">{{ friend.1 }}</td>
              <td><input type="checkbox" name="{{ add_friend_form.members.html_name }}" id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" name="add_friend_request">Envoyer une demande d'ajout</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Demandes d'ajout en attente</h4>
            </div>
            <form method='POST' action =".">
            {% csrf_token %}
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Pseudo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pending_request in pending_request_form.members.field.choices %}
                            <tr>
                                <td class="success">{{ pending_request.1 }}</td>
                                <td><input type="checkbox" name="{{ pending_request_form.members.html_name }}" id="id_{{ pending_request_form.members.html_name }}_{{ forloop.counter }}" value="{{ pending_request.0 }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="refuse_pending_request">Refuser la/les demandes</button>
                    <button type="submit" class="btn btn-success" name="accept_pending_request">Accepter la/les demandes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="message_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">.</h4>
	      </div>
	      <div class="modal-body">
	      	<p value="" id="contenuMsg" class="form-control"></p>
	      	<img id="imgMessage"/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Fermer</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->
<script type="text/javascript">
	function setModalMessage(uneLigne) {
		$(uneLigne).removeClass('danger').addClass('success')
			.children().last().html('Lu');
		$(uneLigne).attr('onclick', '')
		var id = $(uneLigne).find('.idMsg').text();
		var dest = $(uneLigne).find('.destMsg').text();
		$.post('{% url 'dashboard:chargerMessage' %}', {id:id, csrfmiddlewaretoken:'{{csrf_token}}'}, function(data){
			$('#message_modal').find('.modal-title').text('Message de ' + dest);
			$('#message_modal').find('p').text(data['msg'])
			$('#imgMessage').attr('src', data['pathPhoto'])
			$('#message_modal').modal();
			setTimeout(function() {$('#message_modal').modal('hide');}, parseInt(data['duree'])*1000);
		});
	}
</script>
{%  endblock dashboard_inner %}