{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-md-3">
		<button type="button" class="btn btn-primary" title="Mes messages" onclick="window.location.href='../../dashboard/index/';">Mes messages</button>
    </div>
    <div class="col-md-9">
		<h2>Nouveau message</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<form method='POST' action ="." enctype="multipart/form-data">
            {% csrf_token %}
          	{% for error in new_message_form.non_field_errors %}
	            <div class="alert alert-danger" role="alert">{{ error }}</div>
	          {% endfor %}
	          {% for field in new_message_form.hidden_fields %}
	         	{{ field}}
	          {% endfor %} 
	          {% for field in new_message_form %}
	            <div class="form-group {%  if field.errors %}has-error{% endif %}">
	                 {%  if field.errors %}
	                    <label class="control-label">{{ field.label }}: {%  for error in field.errors %}{{ error }} {% endfor %}</label>
	                {% endif %}
	                {{ field }}
	            </div>
	          {% endfor %}         
          		<button type="submit" class="btn btn-primary btn-block btn-lg" name="new_message">Envoyer</button>
        </form>
    </div>
</div>


{%  endblock dashboard_inner %}